# Application Configuration
PORT=3011
NODE_ENV=dev
FUNCTION_NAME=config-studio-backend

# Tazama Authentication
TAZAMA_AUTH_URL=http://localhost:3020/v1/auth
AUTH_PUBLIC_KEY_PATH=public-key.pem
CERT_PATH_PUBLIC=public-key.pem

# Admin Service
ADMIN_SERVICE_URL=http://localhost:5100
